################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/packages
/TestResults
/WordCountGenerator/bin/Debug
/WordCountGenerator/obj/Debug
/WordCountTests/bin/Debug
/WordCountTests/obj/Debug
